@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?1odymq');
  src:  url('./assets/fonts/icomoon.eot?1odymq#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?1odymq') format('truetype'),
    url('./assets/fonts/icomoon.woff?1odymq') format('woff'),
    url('./assets/fonts/icomoon.svg?1odymq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
header{
  margin: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.homeImg{
  background-image: url('./assets/images/searchingLightBG.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
}
.header_container{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  height: 3.5em;
  width: inherit;
}


header ul{
  margin: 0;
  height: inherit;
  display: flex;
  list-style: none;
  justify-content: space-around;
  color: white;
  font-size: 1.2em;
}
header ul li{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 140px;
  /* border: 1px solid black; */
  transition: 1s;

}
.header_container ul a{
  text-decoration: none;
  color: inherit;
  height: inherit;
}

/* header ul li:hover{
  transform: scale(1.3);

} */

.logo{
  background-repeat: no-repeat;
  background-size: 50px;
  transition: 1s;
}

/* .logo:hover{
  transform: scale(1.4);
} */

.header_home{
  background-image: url(./assets/images/mariposaIdle.gif);
}
.header_home:hover{
  background-image: url(./assets/images/mariposaFly.gif);
}
.header_play{
  background-image: url(./assets/images/playerIdle.gif);
}

.header_play:hover{
  background-image: url(./assets/images/playerRun.gif);
}
.header_about{
  background-image: url(./assets/images/chipmunkIdle.gif);
}
.header_about:hover{
  background-image: url(./assets/images/chipmunkRun.gif);
}
.header_contact{
  background-image: url(./assets/images/bomberIdle.gif);
}
.header_contact:hover{
  background-image: url(./assets/images/bomberAtack.gif);
}




/* HOME */
.home{
  background-color: black;
  width: 100%;
}
.container{
  width: 80%;
  background-color: black;
  color: white;
  margin: 0 auto;
}
.info{
  width: 100%;
  margin:0 auto;
  font-size: 1.3em;
}
.info_title{
  margin: 0;
  text-align: center;
  font-size: 3.5em;
  font-weight: 400;
  margin-bottom: 30px;
}
.info_rowDescription{
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-areas: "left right";
  column-gap: 20px;
  margin-top: 20px;
}

.info_gif{
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 500px;
}

.gif1{
  background-image: url(./assets/images/vid1.gif);
}
.gif2{
  background-image: url(./assets/images/vid2.gif);
  background-position: right;
}
.info_rowDescription .right{
  grid-area: right;
  justify-self: right;
}
.info_imagen{
  width: 85%;
}

.info_rowDescription .left{
  grid-area: left;
}
.info_description{
  align-self: center;
}


/* REGISTER */

.register, .login{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bgTranslate 50s linear infinite alternate;

}

@keyframes bgTranslate{
  from{
    background-position-y: 0px;
  }
  to{
    background-position-y: bottom;
  }
}

.login{
  background-image: url(./assets/images/BG2.png);
}

.register{
  background-image: url(./assets/images/BG3.png);
}

.register_card{
  width: 50%;
  height: 80%;
  background-color: rgba(0,0,0,0.7);
  box-shadow: -5px 6px 2px 1px rgb(8 184 245 / 20%);
  
}

.register_form{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
  grid-template-columns: 1fr 1fr;
}

.register_label{
  color: white;
  grid-column: 1/3;
  justify-self: center;
  align-self: flex-end;
}

.register_input{
  height: 1.5em;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.7);
  grid-column: 1/3;
  justify-self: center;
  align-self: center;
  outline-style: none;
}

.register_paragraph{
  color: rgb(139 188 222);
  grid-column: 2/3;
  align-self: flex-end;
  margin: 0;
  justify-self: center;

}

.link_buttonContainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.login_button{
  justify-self: center;
  width: 70%;
  height: 60%;
  background-color: #390e4a;
  color: white;
  border-top: 2px solid #9e16a2;
  border-bottom: 2px solid #9e16a2;
  border-left: 2px solid rgba(158, 22, 162, .8);
  border-right: 2px solid rgba(158, 22, 162, .8);

}

.register_button{
  grid-column: 1/3;
  width: 45%;
  height: 30%;
  justify-self: center;
  align-self: center;
  background-color: #390e4a;
  color: white;
  border-top: 2px solid #9e16a2;
  border-bottom: 2px solid #9e16a2;
  border-left: 2px solid rgba(158, 22, 162, .8);
  border-right: 2px solid rgba(158, 22, 162, .8);
  outline: none;
}

.register_button:focus{
  transform: scale(1.1);
  transition: .5s;
}


/* OVERLAY */

.overlayOn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.9);
  z-index: 1;
  color: white;
}
.overlayOff{
  display: none;
}
.overlay_card{
  background-color: black;
  box-shadow: 0px 0px 15px 7px rgb(8 184 245 / 20%);
  width: 30%;
  height:40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay_title{
  margin: 0;
  margin-top: 35px;
}

.overlay_paragraph{
  font-size: .9em;
}

.overlay_input{
  margin-top: 15px;
  height: 20px;
  outline-style: none;
}

.overlay_input:focus{
  box-shadow: 0px 0px 15px 7px rgb(8 184 245 / 20%);
}

.ovelay_button{
  margin-top: 2em;
  background-color: #390e4a;
  border-top: 2px solid #9e16a2;
  border-bottom: 2px solid #9e16a2;
  border-left: 2px solid rgba(158, 22, 162, .8);
  border-right: 2px solid rgba(158, 22, 162, .8);
  color: white;
  height: 3em;
  width: 10em;
  outline-style: none;
}

.ovelay_button:focus{
  transform: scale(1.1);
  transition: .5s;
}

/*  MESSAGES */

.alert {
  color: rgba(200, 0, 0, 1);
}

/* About y Contact */

.aboutContain {
  background-color: rgba(0,0,0,1);
  padding-top: 128px;
}

.aboutContainer {
  width: 80%;
  height: auto;
  margin: auto;
}

.aboutText {
  color: white;
  text-align: justify;
  width: 100%;
}

.aboutLanguagesContainer {
  overflow: auto;
  width: 80%;
  height: auto;
  margin: auto;
}

.aboutLanguages {
  float: left;
  width: 33.33%;
  height: 100%;
}

.aboutLanguagesImages {
  width: 80%;
  height: auto;
  margin: auto;
}

.aboutDevsContainer {
  overflow: auto;
  width: 80%;
  height: auto;
  margin: auto;
  background-color: rgba(10,10,10,1);
}

.aboutDevs {
  float: left;
  width: 20%;
  height: 100%;
  padding: 2.5%;
}

.aboutDevsImages {
  width: 80%;
  height: auto;
  margin-left: 10%;
}

body {
  background-color: black;
}



/* PLAY */

.play_container{
  background-color: black;
  width: 100%;
}

.play{
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 65px 80px 680px 610px 40px; 
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  color: white;
}

.play_title{
  grid-row: 2/span 1;
  grid-column: 1/3;
  justify-self: center;
  font-size: 2em;
  
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #cc00ff, 0 0 15px #fd95ff, 0 0 20px #6a206f, 0 0 25px #760384;
  
}

.play_cards{
  grid-row: 3/span 1;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 320px 320px;
  row-gap: 40px;
}

.play_card{
  display: flex;
  border-radius: 20px;
  box-shadow: 0 0 20px 4px #e286da;

}

.play_card img{
  width: 50%;
  border-radius: 20px;
  
}

.play_description{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}


.play_platforms{
  grid-row: 4/5;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  justify-items: center;
  row-gap: 20px;
}

.play_ImgContainer{
  width: 70%;
  height: 75%;
  align-items: center;
  justify-items: center;
}

.play_platform{
  width: 100%;
  height: 100%;
}

.burger-button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(25, 26, 27, 0.7);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
  outline-style: none;
  /* font-size: 20px; */
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px){


  /* PLAY */

  .play{
    max-width: 95%;
  }
  .play_description{
    font-size: 1.7em;
  }
  .play_platform {
    width: 100%;
  }

  /* HOME */
  .info{
    font-size: 1.1em;
  }
  .info_gif{
    height: 350px;
  }
  .info_title{
    font-size: 2.5em;

  }



}


@media screen and (max-width: 540px){
  
  
  /* PLAY */
  .play{
    grid-template-rows: 65px 80px 680px 1fr 40px;
  }
  .play_description{
    font-size: 1.2em;
  }
  .play_platforms{
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
    grid-template-rows: 1fr;
  }
  .play_ImgContainer {
    width: 90%;
    height: 90%;
    align-items: center;
    justify-items: center;
  }

  /* HEADER */
  
  .header_container{
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

header ul{
  height: inherit;
  display: flex;
  flex-direction: column;
}

.header_container ul a {
  height: 60px;
}

.header_container.is-active{
  left: 0;
} 
  

  /* HOME */

  .info_gif{
    height: auto;
  }
  .info{
    font-size: 1em;
  }
  .info_title{
    font-size: 1.5em;

  }

  .burger-button{
    display: block;
  }

  /* LOGIN */
  .register_paragraph{
    font-size: .8em;
  }
  .register_card{
    width: 80%;
  }


}

@media screen and (max-width: 425px){

  /* PLAY */

  .play_description{
    font-size: 1em;
  }

  .play{
    grid-template-rows: 65px 80px 480px 1fr 40px;
  }

  .play_cards{
    grid-template-rows: 220px 220px;
  }

  /* home */

  .info_rowDescription{
    display: block;
    text-align: center;
  }
  .info_gif{
    height: 300px;
  }
  .gif2, .gif1{
    background-position: center;
  }
  .info_description p{
    margin: 0;
  }



 

}

@media screen and (max-width: 320px){

  /* LOGIN */
  .register_card{
    width: 90%;
  }

  /* HOME */
  .play_description{
    font-size: .8em;
  }

  /* PLAY */
  .play{
    grid-template-rows: 65px 80px 400px 1fr 40px;
  }

  .play_cards{
    grid-template-rows: 180px 180px;
  }
}

@media screen and (max-width: 800px) {
  .aboutLanguages {
    float: none;
    width: 80%;
    margin: auto;

  }
  .aboutDevs {
    width: 50%;
    margin: auto;
    padding: 0px;
  }
}

.messageContact {
  resize: none;
  width: 100%;
  height: 128px;
  outline-style: none;
  background-color: rgba(10,10,10,1);
  border: solid;
  border-color: rgba(150,0,150,1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(150,0,150,1);
  color: white;
}

.emailContact {
  resize: none;
  width: 100%;
  height: 32px;
  outline-style: none;
  background-color: rgba(10,10,10,1);
  border: solid;
  border-color: rgba(150,0,150,1);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(150,0,150,1);
  color: white;
}

.buttonContact {
  outline-style: none;
  padding: 8px;
  background-color: rgba(50,50,50,1);
  color: white;
  border: solid;
  border-color: rgba(150,0,150,1);
  border-radius: 4px;
  width: 100%;
  transition: .5s;
}

.buttonContact:hover {
  background-color: rgba(150,0,150,1);
  color: black;
  transition: .5s;
}
